{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="account-inner">
        <div class="account-window">
            <h1 class="account-title">Настройки</h1>
            <div class="input-container">
                <div class="input-question">Логин</div>
                <input class="form-control" type="text" value="{{ user.username }}">
            </div>
            <div class="input-container">
                <div class="input-question">Фамилия</div>
                <input class="form-control" type="text" value="{{ user.last_name }}">
            </div>
            <div class="input-container">  
                <div class="input-question">Имя</div>
                <input class="form-control" type="text" value="{{ user.first_name }}">
            </div>
            <div class="input-container">  
                <div class="input-question">Отчество</div>
                <input class="form-control" type="text" value="{{ user.middle_name }}">
            </div>
            <div class="input-container">  
                <div class="input-question">Email</div>
                <input type="email" class="form-control" type="text" value="{{ user.email }}">
            </div>
            <div class="input-container">  
                <div class="input-question">Телефон</div>
                <input type="tel" maxlength="16" class="form-control" type="text" value="{{ user.mobile_phone }}">
            </div>
            <div class="account-buttons">
                <div class="left buttons">

                    <form method="post" action="{% url 'logout' %}" class="inline-form">
                        {% csrf_token %}
                        <button type="submit" class="sign-out-button">Выйти</button>
                    </form>
                    <input type="button" value="Изменить пароль" class="change-password-button" onClick="window.location='{% url 'passwordchange' %}'">
                </div>
                                    <div class="my-events">
                <a href="{% url 'profileevents' %}" class="my-events-button">Мои мероприятия</a>
            </div>
                <input type="button" class="save-button" value="Сохранить">
            </div>
        </div>
    </div>
</div>
{% endblock content %}
